<div class="container-fluid">
  <div class="row justify-content-center align-items-center box-sides">
    <div class="card text-black card-custom">
      <div class="card-body ">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <!-- Form Colum -->
            <div class="col">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

              <form class="mx-1 mx-md-4">
                
                <!-- Username -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input [(ngModel)]="new_user.username" name="username" type="text" id="form3Example1c" class="form-control" />
                    <label class="form-label" for="form3Example1c">Your Username</label>
                  </div>
                </div>

                <!-- Email -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input [(ngModel)]="new_user.email" name="email" type="email" id="form3Example3c" class="form-control" />
                    <label class="form-label" for="form3Example3c">Your Email</label>
                  </div>
                </div>

                <!-- Password -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input [(ngModel)]="new_user.password" name="password" type="password" id="form3Example4c" class="form-control" />
                    <label class="form-label" for="form3Example4c">Password</label>
                  </div>
                </div>

                <!-- Verify Password -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input [(ngModel)]="password2" name="verify_password" type="password" id="form3Example4cd" class="form-control" />
                    <label class="form-label" for="form3Example4cd">Repeat your password</label>
                  </div>
                </div>

                <!-- TOS -->
                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                  <label class="form-check-label" for="form2Example3">
                    I agree all statements in <a href="#!">Terms of service</a>
                  </label>
                </div>

                <!-- Register Button -->
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button (click)="register()" type="button" class="btn btn-primary btn-lg">Register</button>
                </div>
                
              </form>
            </div>
            <!-- Image Colum -->
            <div class="col d-flex align-items-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
              class="img-fluid" alt="Sample image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>