.box-sides{
    margin-left: 50px; 
    margin-right: 50px;
}

.card-custom{
    border-radius: 25px; 
    margin-top: 5%; 
    margin-bottom: 15px;
}

.cstm-button{
    width: 50%;
    margin-top: 10%;
}

.calendar{
    margin-left: 5%;
}